<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>qq</title>
</head>
<body>
登陆中...
<p th:text="${user}" style="display: none" ></p>
<script>
    var value = document.getElementsByTagName("p")[0].innerHTML;
    //console.log(value);
    window.onload = function () {
        window.opener.postMessage(value, "http://used.eurasia.plus");
        window.close();
    }
</script>
</body>
</html>
